.text-dark-silver {
  color: var(--color-dark-silver) !important;
}
.text-grey {
  color: var(--color-grey) !important;
}
.text-normal-anchor {
  color: var(--color-normal-anchor) !important;
}
.fs-14 {
  font-size: 14px;
}
.fs-19 {
  font-size: 19px;
}
.lh-xlg {
  line-height: 2.4 !important;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
